

<div class="container">
  <h2>Welcome to Moodify</h2>
    <h4>Find the lyrical sentiment behind your favorite songs!</h4>
    <p>To start:</p>
      <p>Search for a song by artist and title:</p>
      <div class="search">

        <p><div class="question-responses">
          <input class="artist" type="text" name="artist", placeholder="Enter Artist"></input></p>

          <p><input class="song" type="text" name="song", placeholder="Enter Song Title"></input></p>

        </div>
        <input class="submit" type="submit" value="Submit">

      </div>
</div>